[user]
	email = rajeegun@hotmail.com
	name = Rajith Gun Hewage
[alias]
	a = add
	d = diff
	st = status
	cm = commit -m 
	amd = commit --amend
	# https://coderwall.com/p/euwpig/a-better-git-log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ch = checkout
	br = branch
	brb = checkout -b
	brm = branch -m
	brd = branch -d
	brdd = branch -D
	pu = push origin
	puf = push origin -f
	# pub = "push origin $(line=`git branch | grep \\*`; IFS=' ' read -ra vars <<< $line; for i in ${vars[@]}; do br=$i; done; echo $br)"
	fea = fetch --all
	stl = stash list
	sta = stash apply
	sts = stash save
	std = stash drop
	chm = checkout master
	chp = cherry-pick
[color "diff"]
	new = yellow
	meta = white
[color "status"]
	added = yellow
[core]
	editor = vim
